log_level: info
service_account: libconnected
base_path: /opt/relibconnected
incoming_path: /srv/libconnected
smtp:
  hostname: email-smtp.us-west-2.amazonaws.com
  port: 587
  from: LIBCONNECTED<some.user@domain>
  user: MAIL_USER
  pass: MAIL_PASSWORD
admin_contact: Some User<some.user@domain>
local_timezone: America/Los_Angeles
ilsws:
  username: USER
  password: PASSWORD
  hostname: HOSTNAME
  port: 443
  webapp: APPLICATION
  client_id: CLIENT_ID
  user_privilege_override: OVERRIDE
  timeout: 20
clients:
  - id: '01'
    authorized_key: SSH_KEY
    namespace: pps
    schema: district
    name: multcolib.org
    contact: Some User <some.user@domain>
    new_defaults:
      home_library: MID
      user_profile: 0_MULT
      youth_profile: 1_MULT_Y
      user_categories:
        1: 0_MULT
        2: US_MAIL
        3: 89TEST
        7: CONNECT
    overlay_defaults:
      home_library: MID
      user_profile: 0_MULT
      youth_profile: 1_MULT_Y
      user_categories:
        3: 89TEST
        7: CONNECT
